webappKP generator/n8n/workflow_ses.json
{
  "name": "SES — Генератор КП",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ses-kp",
        "responseMode": "immediatelyReturn",
        "options": {}
      },
      "id": "n01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "ses-kp-webhook-id"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1IgaI0_eE0xY7ljfNh138CA-aYIiFzGJpmu9s2hLV04g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Довідкові дані",
          "mode": "name"
        },
        "options": {
          "range": "A1:O200",
          "firstRowIsColumnNames": false
        }
      },
      "id": "n02",
      "name": "SheetsData",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        460,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CRED1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "/* ================================================================\r\n   n8n Code Node — Розрахунок КП СЕС v1.0\r\n\r\n   ВХОДИ (Input nodes):\r\n     \"Webhook\"      — payload з Telegram Mini App (ses2)\r\n     \"SheetsData\"   — рядки аркуша \"Довідкові дані\" (діапазон A1:I200)\r\n                      кожен item.json — об'єкт із полями колонок\r\n     \"SheetsRates\"  — діапазон O1:O2 того ж аркуша (2 рядки × 1 колонка)\r\n\r\n   ВИХІД:\r\n     Один об'єкт JSON з усіма даними для наступних вузлів:\r\n       — Google Drive: Copy template\r\n       — Google Docs:  Fill placeholders\r\n       — Telegram:     Send PDF\r\n\r\n   СТРУКТУРА \"Довідкові дані\" (колонки A-I):\r\n     A = Категорія   (Фотоелектричні модулі / Мережеві інвертори / ...)\r\n     B = Назва       (назва позиції)\r\n     C = Одиниця     (шт., компл., кВт...)\r\n     D = К-сть       (заповнюється скриптом, в n8n ігноруємо)\r\n     E = Ціна USD    (базова ціна без націнки)\r\n     F = Закупівля   (формула E*D — ігноруємо)\r\n     G = Коефіцієнт  (націнка, mutable при ітерації)\r\n     H = —           (ігноруємо)\r\n     I = Продаж      (формула E*G*D — ігноруємо)\r\n\r\n   Рядки O1/O2:\r\n     O1 = UAH за EUR (наприклад 43.50)\r\n     O2 = UAH за USD (наприклад 41.20)\r\n================================================================ */\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 1. ВХІДНІ ДАНІ\r\n// ────────────────────────────────────────────────────────────────\r\n\r\nconst _wh = $('Webhook').first().json;\r\nconst p = _wh.body ?? _wh; // webhook v2 вкладає body в json.body\r\n\r\n// n8n Google Sheets v4 (firstRowIsColumnNames: false) використовує рядок 1 як заголовки\r\n// і додає поле row_number → ключі: row_number, col_1(A), col_2(B), col_3(C),\r\n// \"К-сть\"(D), col_5(E=Ціна USD), col_6(F), col_7(G=Коефіцієнт), ...\r\n// Остання колонка O: її ключ = значення O1 (курс EUR), значення для рядка = курс USD\r\nconst rawItems = $('SheetsData').all();\r\n\r\nconst parseFlt = v => {\r\n  if (v === null || v === undefined || v === '') return 0;\r\n  return parseFloat(String(v).replace(/\\s/g, '').replace(',', '.')) || 0;\r\n};\r\n\r\n// Курси валют: col O header = EUR rate (key name), col O row1 value = USD rate\r\nconst _firstJson  = rawItems[0]?.json || {};\r\nconst _allKeys    = Object.keys(_firstJson);\r\nconst _rateColKey = _allKeys[_allKeys.length - 1];        // ключ колонки O\r\nconst rateEUR     = parseFlt(_rateColKey) || 43.5;        // значення O1 = EUR курс\r\nconst rateUSD     = parseFlt(_firstJson[_rateColKey]) || 41.2;  // значення O2 = USD курс\r\n\r\n// Нормалізація кирилиця→латиниця для візуальних омогліфів у назвах обладнання\r\n// (наприклад, кирилична Т = U+0422 та латинська T = U+0054 виглядають однаково,\r\n//  але це різні символи → порівняння провалюється без нормалізації)\r\nfunction normName(s) {\r\n  return s\r\n    .replace(/А/g,'A').replace(/а/g,'a')\r\n    .replace(/В/g,'B').replace(/в/g,'b')\r\n    .replace(/Е/g,'E').replace(/е/g,'e')\r\n    .replace(/К/g,'K').replace(/к/g,'k')\r\n    .replace(/М/g,'M').replace(/м/g,'m')\r\n    .replace(/Н/g,'H').replace(/н/g,'h')\r\n    .replace(/О/g,'O').replace(/о/g,'o')\r\n    .replace(/Р/g,'P').replace(/р/g,'p')\r\n    .replace(/С/g,'C').replace(/с/g,'c')\r\n    .replace(/Т/g,'T').replace(/т/g,'t')\r\n    .replace(/У/g,'Y').replace(/у/g,'y')\r\n    .replace(/Х/g,'X').replace(/х/g,'x');\r\n}\r\n\r\n// Будуємо зручний масив рядків довідника (тільки ті що мають категорію + ціну)\r\n// Доступ по стабільних ключах n8n: col_1=A, col_2=B, col_3=C, col_5=E, col_7=G\r\n// Назви (col_2) нормалізуємо — у таблиці можуть бути кириличні омогліфи в назвах брендів\r\nconst refData = rawItems\r\n  .map(item => ({\r\n    category: String(item.json['col_1'] || '').trim(),           // A = Категорія (завжди кирилиця)\r\n    name:     normName(String(item.json['col_2'] || '').trim()), // B = Назва (нормалізована)\r\n    unit:     String(item.json['col_3'] || '').trim(),           // C = Одиниця\r\n    price:    parseFlt(item.json['col_5']),                      // E = Ціна USD\r\n    markup:   parseFlt(item.json['col_7']) || 1,                 // G = Коефіцієнт\r\n  }))\r\n  .filter(r => r.category && r.name && r.price > 0);\r\n\r\n// currencyRate: скільки EUR за 1 USD (для конвертації)\r\n// Внутрішні ціни в довіднику = USD.\r\n// Якщо вибрано USD — currencyRate = 1 (не конвертуємо).\r\n// Якщо вибрано EUR — currencyRate = usdRate/eurRate ≈ 0.946 (USD→EUR).\r\nconst currency     = p.currency || 'USD';         // \"USD\" | \"EUR\"\r\nconst currencyRate = currency === 'EUR' ? rateUSD / rateEUR : 1;\r\nconst currSign     = currency === 'EUR' ? '€' : '$';\r\n\r\nconst vatMode = p.price_vat || 'with'; // \"with\" | \"without\"\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 2. ПАРАМЕТРИ СТАНЦІЇ (вже розраховані у webapp)\r\n// ────────────────────────────────────────────────────────────────\r\n\r\nconst dcKW      = parseFlt(p.real_dc);      // DC потужність, кВт\r\nconst acKW      = parseFlt(p.real_ac);      // AC потужність, кВт\r\nconst panelQty  = parseInt(p.panel_qty) || 0;\r\nconst panelWatt = parseInt(p.module_watt) || 620;\r\nconst sesType   = p.ses_type || 'Дахова';   // \"Дахова\" | \"Наземна\"\r\nconst matType   = (p.material_type || 'DC та AC').toLowerCase();\r\nconst isDC      = matType.includes('dc');\r\nconst isAC      = matType.includes('ac');\r\n\r\n// Ітнвертори (до 3 типів)\r\nconst inverters = [];\r\nfor (let i = 1; i <= 3; i++) {\r\n  const model = p[`inverter_${i}_model`];\r\n  const qty   = parseInt(p[`inverter_${i}_qty`]) || 0;\r\n  if (model && qty > 0) inverters.push({ model, qty });\r\n}\r\n\r\n// Типи кріплення [{type, qty}]\r\nconst mountTypes = Array.isArray(p.mount_types) ? p.mount_types : [];\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 3. КОНСТАНТИ КАТЕГОРІЙ ТА ЛІМІТІВ НАЦІНОК\r\n// ────────────────────────────────────────────────────────────────\r\n\r\n// Ці категорії мають фіксовану націнку (не змінюємо при ітерації)\r\nconst FIXED_CATS = new Set([\r\n  'фотоелектричні модулі',\r\n  'мережеві інвертори',\r\n  'пристрій моніторингу',\r\n  'система регулювання потужності',\r\n]);\r\n\r\n// Ліміти [min, max] для змінних категорій\r\nconst MARKUP_LIMITS = {\r\n  'система кріплення':              [1.0, 7.1875],\r\n  'матеріали dc до 100 квт':        [1.0, 6.75],\r\n  'матеріали ac до 100 квт':        [1.0, 6.75],\r\n  'матеріали dc більше 100 квт':    [1.0, 6.75],\r\n  'матеріали ac більше 100 квт':    [1.0, 6.75],\r\n  'монтаж':   [1.0, 3.0188],\r\n  'техніка':  [1.0, 3.0188],\r\n  'доставка': [1.0, 3.0188],\r\n};\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 4. MUTABLE НАЦІНКИ (копія з довідника, змінюємо при ітерації)\r\n// ────────────────────────────────────────────────────────────────\r\n\r\n// Зберігаємо як Map: \"категорія|назва\" → markup\r\nconst markupMap = new Map();\r\nrefData.forEach(r => {\r\n  // r.name вже нормалізована (normName при побудові refData)\r\n  markupMap.set(`${r.category.toLowerCase()}|${r.name.toLowerCase()}`, r.markup);\r\n});\r\n\r\nfunction getMarkup(category, name) {\r\n  return markupMap.get(`${category.toLowerCase()}|${normName(name).toLowerCase()}`) || 1;\r\n}\r\n\r\nfunction setMarkup(category, name, val) {\r\n  markupMap.set(`${category.toLowerCase()}|${normName(name).toLowerCase()}`, val);\r\n}\r\n\r\nfunction findRow(category, name) {\r\n  const normN = normName(name).toLowerCase();\r\n  return refData.find(r =>\r\n    r.category.toLowerCase() === category.toLowerCase() &&\r\n    r.name.toLowerCase() === normN\r\n  ) || null;\r\n}\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 5. ЛЕЙБЛИ ДЛЯ ПОСЛУГ (залежать від потужності і типу СЕС)\r\n// ────────────────────────────────────────────────────────────────\r\n\r\nfunction getMontageLabel(kw) {\r\n  if (kw <= 80)   return '50-80 кВт';\r\n  if (kw <= 100)  return '80-100 кВт';\r\n  if (kw <= 250)  return '100-250 кВт';\r\n  if (kw <= 500)  return '250-500 кВт';\r\n  if (kw <= 1000) return '500-1000 кВт';\r\n  return '1000 та більше';\r\n}\r\n\r\nfunction getTechLabel(type, kw) {\r\n  if (type === 'Наземна') return 'наземка за кВт';\r\n  if (kw <= 100)  return 'дах 50-100 кВт';\r\n  if (kw <= 150)  return 'дах 80-150 кВт';\r\n  if (kw <= 300)  return 'дах 150-300 кВт';\r\n  if (kw <= 500)  return 'дах 300-500 кВт';\r\n  if (kw <= 1000) return 'дах 500-1000 кВт';\r\n  if (kw <= 1500) return 'дах 1000-1500 кВт';\r\n  if (kw <= 2000) return 'дах 1500-2000 кВт';\r\n  return 'дах більше 2000 кВт';\r\n}\r\n\r\nfunction getDeliveryLabel(kw) {\r\n  if (kw <= 100)  return '50-100 кВт';\r\n  if (kw <= 250)  return '100-250 кВт';\r\n  if (kw <= 500)  return '250-500 кВт';\r\n  if (kw <= 1000) return '500-1000 кВт';\r\n  return '1000 та більше';\r\n}\r\n\r\nconst montageLabel  = getMontageLabel(dcKW);\r\nconst techLabel     = getTechLabel(sesType, dcKW);\r\nconst deliveryLabel = getDeliveryLabel(dcKW);\r\nconst techQty       = sesType === 'Наземна' ? dcKW : 1;\r\n\r\n// Категорії матеріалів DC/AC (залежать від DC потужності)\r\nconst rangeDC = dcKW <= 100 ? 'Матеріали DC до 100 кВт'   : 'Матеріали DC більше 100 кВт';\r\nconst rangeAC = dcKW <= 100 ? 'Матеріали AC до 100 кВт'   : 'Матеріали AC більше 100 кВт';\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 6. ФУНКЦІЯ РОЗРАХУНКУ ЗАГАЛЬНОЇ ВАРТОСТІ\r\n//    Повертає все в USD (currencyRate не застосовується тут).\r\n//    lineItems містить ціни в USD — конвертуємо тільки для відображення.\r\n// ────────────────────────────────────────────────────────────────\r\n\r\nfunction calculateAll() {\r\n  let sumSale     = 0;  // сума продажу (USD) — з націнками\r\n  let sumPurchase = 0;  // сума закупівлі (USD) — без націнок\r\n  const lineItems = [];  // для шаблону КП\r\n\r\n  // ─── Допоміжна функція додавання позиції ───\r\n  function addLine(category, name, qty, unitOverride, labelOverride) {\r\n    const row = findRow(category, name);\r\n    if (!row || qty <= 0 || row.price === 0) return 0;\r\n    const mu       = getMarkup(category, name);\r\n    const saleUnit = row.price * mu;\r\n    const sale     = saleUnit * qty;\r\n    const purchase = row.price * qty;\r\n    sumSale     += sale;\r\n    sumPurchase += purchase;\r\n    lineItems.push({\r\n      category,\r\n      name:      labelOverride || name,\r\n      unit:      unitOverride || row.unit || 'шт.',\r\n      qty,\r\n      unitPriceUSD: +saleUnit.toFixed(4),\r\n      totalUSD:     +sale.toFixed(4),\r\n    });\r\n    return sale;\r\n  }\r\n\r\n  // ─── Панелі ───\r\n  addLine('Фотоелектричні модулі', p.module_type, panelQty, 'шт.',\r\n    `Фотогальванічний модуль ${p.module_type}`);\r\n\r\n  // ─── Інвертори ───\r\n  inverters.forEach(inv =>\r\n    addLine('Мережеві інвертори', inv.model, inv.qty, 'шт.', `Інвертор ${inv.model}`)\r\n  );\r\n\r\n  // ─── Моніторинг ───\r\n  addLine('Пристрій моніторингу', p.monitoring_device, 1, 'шт.',\r\n    `Моніторинг ${p.monitoring_device}`);\r\n\r\n  // ─── Система регулювання потужності ───\r\n  addLine('Система регулювання потужності', p.power_regulation, 1, 'компл.',\r\n    `Регулювання потужності ${p.power_regulation}`);\r\n\r\n  // ─── Кріплення (зважене середнє по типах) ───\r\n  let mountTotalQty    = 0;\r\n  let mountSaleSum     = 0;\r\n  let mountPurchaseSum = 0;\r\n\r\n  mountTypes.forEach(mt => {\r\n    const row = findRow('Система кріплення', mt.type);\r\n    if (!row || mt.qty <= 0) return;\r\n    const mu = getMarkup('Система кріплення', mt.type);\r\n    mountTotalQty    += mt.qty;\r\n    mountSaleSum     += row.price * mu * mt.qty;\r\n    mountPurchaseSum += row.price * mt.qty;\r\n  });\r\n\r\n  if (mountTotalQty > 0) {\r\n    sumSale     += mountSaleSum;\r\n    sumPurchase += mountPurchaseSum;\r\n    lineItems.push({\r\n      category: 'Система кріплення',\r\n      name:     'Кріплення фотомодулів',\r\n      unit:     'компл.',\r\n      qty:      1,\r\n      unitPriceUSD: +mountSaleSum.toFixed(4),\r\n      totalUSD:     +mountSaleSum.toFixed(4),\r\n    });\r\n  }\r\n\r\n  // ─── Матеріали DC / AC (розподілені по типах кріплення) ───\r\n  // Ціна матеріалів у довіднику = USD/кВт DC для даного типу кріплення.\r\n  // Обсяг (кВт) = кількість панелей цього типу * watt / 1000.\r\n\r\n  function getDistributedMaterial(range) {\r\n    let totalSale = 0, totalPurchase = 0;\r\n    mountTypes.forEach(mt => {\r\n      const allocKW = (mt.qty * panelWatt) / 1000;  // DC потужність цього сегменту\r\n      const matches = refData.filter(r =>\r\n        r.category.toLowerCase() === range.toLowerCase() &&\r\n        r.name.toLowerCase()     === mt.type.toLowerCase()\r\n      );\r\n      matches.forEach(row => {\r\n        const mu = getMarkup(row.category, row.name);\r\n        totalSale     += row.price * mu * allocKW;\r\n        totalPurchase += row.price * allocKW;\r\n      });\r\n    });\r\n    return { sale: totalSale, purchase: totalPurchase };\r\n  }\r\n\r\n  // Ручний додаток (рядок \"Дод. матеріали до AC та DC\")\r\n  const extraRow = refData.find(r => r.category === 'Дод. матеріали до AC та DC');\r\n  const manualExtra = extraRow ? extraRow.price * (extraRow.markup || 1) : 0;\r\n\r\n  const dcMat = isDC ? getDistributedMaterial(rangeDC) : { sale: 0, purchase: 0 };\r\n  const acMat = isAC ? getDistributedMaterial(rangeAC) : { sale: 0, purchase: 0 };\r\n\r\n  const matTotalSale     = dcMat.sale + acMat.sale + manualExtra;\r\n  const matTotalPurchase = dcMat.purchase + acMat.purchase + manualExtra;\r\n\r\n  if (matTotalSale > 0) {\r\n    let matLabel = 'PV кабель, конектори MC4, автоматика струмового захисту, монтажний комплект (короб, лоток, гофротруби, трансформатори, ізоляційні матеріали і т.д)';\r\n    if (isDC && isAC) matLabel += ' + AC';\r\n    else if (isAC)   matLabel += ' AC';\r\n\r\n    sumSale     += matTotalSale;\r\n    sumPurchase += matTotalPurchase;\r\n    lineItems.push({\r\n      category: 'Матеріали',\r\n      name:     matLabel,\r\n      unit:     'компл.',\r\n      qty:      1,\r\n      unitPriceUSD: +matTotalSale.toFixed(4),\r\n      totalUSD:     +matTotalSale.toFixed(4),\r\n    });\r\n  }\r\n\r\n  // ─── Послуги (монтаж + техніка + доставка) ───\r\n  let servicesSale = 0, servicesPurchase = 0;\r\n\r\n  function addService(category, label, qty) {\r\n    const row = findRow(category, label);\r\n    if (!row) return;\r\n    const mu  = getMarkup(category, label);\r\n    const s   = row.price * mu * qty;\r\n    const pur = row.price * qty;\r\n    servicesSale     += s;\r\n    servicesPurchase += pur;\r\n  }\r\n\r\n  addService('Монтаж',   montageLabel,  dcKW);\r\n  addService('Техніка',  techLabel,     techQty);\r\n  addService('Доставка', deliveryLabel, 1);\r\n\r\n  if (servicesSale > 0) {\r\n    sumSale     += servicesSale;\r\n    sumPurchase += servicesPurchase;\r\n  }\r\n\r\n  return {\r\n    sumSale,     // USD, з націнками, без податку\r\n    sumPurchase, // USD, без націнок\r\n    lineItems,\r\n    servicesSale,\r\n  };\r\n}\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 7. ІТЕРАЦІЙНЕ КОРИГУВАННЯ НАЦІНОК\r\n//    Мета: totalSale / dc_kw ≈ targetPricePerKW (в обраній валюті)\r\n// ────────────────────────────────────────────────────────────────\r\n\r\n// Цільова ціна в USD (внутрішня)\r\nlet targetPricePerKWinUSD = parseFlt(p.price_per_kw) || 380;\r\nif (currency === 'EUR') {\r\n  // Менеджер вводив в EUR → конвертуємо в USD для порівняння\r\n  targetPricePerKWinUSD = targetPricePerKWinUSD / currencyRate;\r\n}\r\n\r\nif (dcKW > 0) {\r\n  for (let iter = 0; iter < 30; iter++) {\r\n    const { sumSale, sumPurchase } = calculateAll();\r\n    if (sumSale === 0) break;\r\n\r\n    // Оцінюємо finalTotal так само як секція 8:\r\n    // finalTotal = (sumSale + taxValue_last) * currencyRate\r\n    // taxValue_last — значення після 2-ї ітерації ЄП (не кумулятивне)\r\n    let _ss = sumSale, _sp = sumPurchase, _tv = 0;\r\n    if (vatMode === 'with') {\r\n      for (let i = 0; i < 2; i++) {\r\n        _tv = ((_ss - _sp) / 1.025 * 0.24) + (_ss * 0.013);\r\n        _ss += _tv; _sp += _tv;\r\n      }\r\n    }\r\n    // estimatedFinalUSD = sumSale + taxValue_last (без currencyRate, оскільки target вже в USD)\r\n    const estimatedFinalUSD    = sumSale + (vatMode === 'with' ? _tv : 0);\r\n    const actualPricePerKWinUSD = estimatedFinalUSD / dcKW;\r\n    const scaleFactor = targetPricePerKWinUSD / actualPricePerKWinUSD;\r\n\r\n    // Якщо достатньо точно — виходимо (0.00005% → похибка <$1 навіть для 5 МВт)\r\n    if (Math.abs(scaleFactor - 1) < 0.000001) break;\r\n\r\n    // Масштабуємо некеровані категорії\r\n    markupMap.forEach((markup, key) => {\r\n      const [category] = key.split('|');\r\n      if (FIXED_CATS.has(category)) return;\r\n\r\n      const [minM, maxM] = MARKUP_LIMITS[category] || [1, 5];\r\n      const newMarkup    = Math.max(minM, Math.min(markup * scaleFactor, maxM));\r\n      markupMap.set(key, +newMarkup.toFixed(6));\r\n    });\r\n  }\r\n}\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 8. ФІНАЛЬНИЙ РОЗРАХУНОК\r\n// ────────────────────────────────────────────────────────────────\r\n\r\nconst { sumSale, sumPurchase, lineItems, servicesSale } = calculateAll();\r\n\r\n// ─── Розрахунок ЄП (єдиний податок, 2 ітерації) ───\r\n// Формула: ((продаж - закупівля) / 1.025 * 0.24) + (продаж * 0.013)\r\n// — це ЄП 3-ї групи (24% на прибуток з урахуванням коефіцієнта) + 1.3% від обороту (воєнний збір)\r\nlet spSumSale     = sumSale;\r\nlet spSumPurchase = sumPurchase;\r\nlet taxValue      = 0;\r\n\r\nfor (let i = 0; i < 2; i++) {\r\n  taxValue       = ((spSumSale - spSumPurchase) / 1.025 * 0.24) + (spSumSale * 0.013);\r\n  spSumSale     += taxValue;\r\n  spSumPurchase += taxValue;\r\n}\r\ntaxValue = +taxValue.toFixed(2);\r\n\r\n// Конвертуємо податок у вибрану валюту\r\nconst taxValueConverted = +(taxValue * currencyRate).toFixed(2);\r\n\r\n// Загальна сума в обраній валюті (БЕЗ ЄП — для \"без ПДВ\" режиму)\r\nconst totalBeforeTaxConverted = +(sumSale * currencyRate).toFixed(2);\r\n\r\n// Загальна сума З ЄП\r\nconst totalWithTaxConverted = +(totalBeforeTaxConverted + taxValueConverted).toFixed(2);\r\n\r\n// Остаточна сума залежно від режиму ПДВ\r\nconst finalTotal = vatMode === 'with' ? totalWithTaxConverted : totalBeforeTaxConverted;\r\n\r\n// Рядки позицій з конвертованими цінами\r\nconst lineItemsConverted = lineItems.map((item, idx) => ({\r\n  ...item,\r\n  unitPrice: +(item.unitPriceUSD * currencyRate).toFixed(2),\r\n  total:     +(item.totalUSD     * currencyRate).toFixed(2),\r\n}));\r\n\r\n// ─── Додаємо ЄП до останньої позиції обладнання (як в оригінальному скрипті) ───\r\n// Знаходимо останню позицію обладнання (не послуги)\r\nlet lastEquipIdx = -1;\r\nfor (let i = lineItemsConverted.length - 1; i >= 0; i--) {\r\n  if (lineItemsConverted[i].category !== 'Послуги') { // послуги йдуть окремо\r\n    lastEquipIdx = i;\r\n    break;\r\n  }\r\n}\r\n\r\nif (vatMode === 'with' && lastEquipIdx >= 0) {\r\n  lineItemsConverted[lastEquipIdx].total     = +(lineItemsConverted[lastEquipIdx].total + taxValueConverted).toFixed(2);\r\n  lineItemsConverted[lastEquipIdx].unitPrice = lineItemsConverted[lastEquipIdx].total; // qty=1 — ціна = сума\r\n}\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 9. ФОРМУВАННЯ ПОЗИЦІЙ ТАБЛИЦІ ДЛЯ ШАБЛОНУ КП\r\n//    Обладнання: r1..r9, Роботи: r10\r\n// ────────────────────────────────────────────────────────────────\r\n\r\nconst fmtNum = (n) => {\r\n  if (!n && n !== 0) return '';\r\n  return (+n).toLocaleString('uk-UA', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\r\n};\r\n\r\n// Обладнання + матеріали (всі крім послуг)\r\nconst equipItems = lineItemsConverted;   // всі lineItems — без окремого рядку послуг\r\n// Послуги — один рядок із загальною сумою\r\nconst serviceTotal = +(servicesSale * currencyRate).toFixed(2);\r\n\r\n// Заповнюємо 9 рядків обладнання + 1 рядок послуг\r\n// Ключі з {{ }} — щоб replaceAllText точно матчив {{r1_num}} а не лише r1_num\r\nconst tableRows = {};\r\nfor (let i = 1; i <= 9; i++) {\r\n  const item = equipItems[i - 1];\r\n  if (item) {\r\n    tableRows[`{{r${i}_num}}`]   = `1.${i}`;\r\n    tableRows[`{{r${i}_name}}`]  = item.name;\r\n    tableRows[`{{r${i}_unit}}`]  = item.unit;\r\n    tableRows[`{{r${i}_qty}}`]   = String(item.qty);\r\n    tableRows[`{{r${i}_price}}`] = fmtNum(item.unitPrice);\r\n    tableRows[`{{r${i}_total}}`] = fmtNum(item.total);\r\n  } else {\r\n    tableRows[`{{r${i}_num}}`]   = '';\r\n    tableRows[`{{r${i}_name}}`]  = '';\r\n    tableRows[`{{r${i}_unit}}`]  = '';\r\n    tableRows[`{{r${i}_qty}}`]   = '';\r\n    tableRows[`{{r${i}_price}}`] = '';\r\n    tableRows[`{{r${i}_total}}`] = '';\r\n  }\r\n}\r\n\r\n// Рядок послуг (r10)\r\ntableRows['{{r10_num}}']   = '2.1';\r\ntableRows['{{r10_name}}']  = 'Розробка робочого проекту\\nДоставка обладнання та матеріалів\\nМонтаж конструкцій\\nВстановлення панелей\\nСпецтехніка та механізми\\nЕлектротехнічні роботи\\nАвторський нагляд\\nПусконаладка';\r\ntableRows['{{r10_unit}}']  = 'послуга';\r\ntableRows['{{r10_qty}}']   = '1';\r\ntableRows['{{r10_price}}'] = '';\r\ntableRows['{{r10_total}}'] = fmtNum(serviceTotal);\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 10. ЕКОНОМІЧНИЙ РОЗРАХУНОК (окупність, кредит, деградація)\r\n// ────────────────────────────────────────────────────────────────\r\n\r\nconst tariffNow     = parseFlt(p.tariff_now)     || 0;   // грн/кВт·год\r\nconst creditEnabled = p.credit === 'yes';\r\nconst creditRate    = parseFlt(p.credit_rate)    || 9;    // %/рік\r\nconst creditMonths  = parseFlt(p.credit_months)  || 60;   // місяців\r\n\r\n// Загальна вартість в UAH (для окупності)\r\nconst totalUAH = +(finalTotal / currencyRate * rateUSD).toFixed(2);\r\n\r\n// ─── Деградація панелей 0.4%/рік (Longi/Trina гарантія) ───\r\n// Перший рік: 99% від номіналу (initial degradation)\r\n// Далі: 0.4%/рік × 25 років = -10% до кінця\r\nconst DEGRAD_YEAR1 = 0.990;\r\nconst DEGRAD_ANNUAL = 0.004; // 0.4% на рік після першого\r\n\r\n// Загальна річна генерація передається з ses_charts — тут розраховуємо за замовчуванням\r\n// (якщо ses_charts запустився після — він перезапише yearly_gen)\r\n// Використовуємо середній коефіцієнт ~1100 год/рік × DC кВт\r\n// Точне значення прийде з ses_charts.js через regional coefficients\r\nconst FALLBACK_HOURS = 1100; // середня Україна\r\nlet yearlyKWhBase = dcKW * FALLBACK_HOURS * DEGRAD_YEAR1;\r\n\r\n// ─── Самоспоживання: 80% генерації клієнт споживає сам ───\r\nconst SELF_CONSUMPTION = 0.80;\r\n\r\n// ─── Щомісячна економія (рік 1) ───\r\nconst monthlyGen     = yearlyKWhBase / 12;\r\nconst monthlySavings = monthlyGen * SELF_CONSUMPTION * tariffNow; // грн/міс\r\n\r\n// ─── Окупність без кредиту ───\r\nlet paybackYears = 0;\r\nlet paybackStr   = '—';\r\nif (monthlySavings > 0 && totalUAH > 0) {\r\n  paybackYears = totalUAH / (monthlySavings * 12);\r\n  const pyInt  = Math.floor(paybackYears);\r\n  const pyMon  = Math.round((paybackYears - pyInt) * 12);\r\n  paybackStr   = pyMon > 0 ? `${pyInt} р. ${pyMon} міс.` : `${pyInt} р.`;\r\n}\r\n\r\n// ─── Зафіксований тариф на 30 років (середньозважений з деградацією) ───\r\n// totalCost / сумарна генерація за 30 років\r\nlet totalGen30 = 0;\r\nfor (let yr = 0; yr < 30; yr++) {\r\n  const degrad = yr === 0 ? DEGRAD_YEAR1 : DEGRAD_YEAR1 - DEGRAD_ANNUAL * yr;\r\n  totalGen30 += dcKW * FALLBACK_HOURS * Math.max(degrad, 0.75);\r\n}\r\nconst fixedTariff = totalGen30 > 0\r\n  ? +(totalUAH / totalGen30).toFixed(4)\r\n  : 0;\r\n\r\n// ─── Загальний дохід за 25 років (з деградацією) ───\r\nlet totalProfit25 = 0;\r\nfor (let yr = 0; yr < 25; yr++) {\r\n  const degrad    = yr === 0 ? DEGRAD_YEAR1 : DEGRAD_YEAR1 - DEGRAD_ANNUAL * yr;\r\n  const genYr     = dcKW * FALLBACK_HOURS * Math.max(degrad, 0.75);\r\n  totalProfit25  += genYr * SELF_CONSUMPTION * tariffNow;\r\n}\r\ntotalProfit25 = Math.round(totalProfit25);\r\n\r\n// ─── Кредит ───\r\nlet creditVars = {\r\n  '{{credit_b17}}': '', '{{credit_b18}}': '', '{{credit_b19}}': '',\r\n  '{{credit_b20}}': '', '{{credit_b21}}': '', '{{credit_b22}}': '',\r\n  '{{credit_b23}}': '', '{{credit_b24}}': '', '{{credit_b25}}': '',\r\n  '{{credit_b26}}': '', '{{credit_b27}}': '', '{{credit_b28}}': '',\r\n  '{{credit_currency}}': currSign,\r\n  '{{credit_final}}': '',\r\n};\r\n\r\nlet paybackWithCreditStr = '—';\r\nlet monthlyPaymentUAH    = 0;\r\nlet remainderAfterCredit = 0;\r\n\r\nif (creditEnabled && totalUAH > 0) {\r\n  // Комісія 1.5%\r\n  const commissionUAH  = totalUAH * 0.015;\r\n  const totalWithComm  = totalUAH + commissionUAH;\r\n\r\n  // Ануїтетний платіж: M = S × r / (1 − (1+r)^−n)\r\n  const monthlyRate    = creditRate / 100 / 12;\r\n  monthlyPaymentUAH    = monthlyRate > 0\r\n    ? +(totalWithComm * monthlyRate / (1 - Math.pow(1 + monthlyRate, -creditMonths))).toFixed(2)\r\n    : +(totalWithComm / creditMonths).toFixed(2);\r\n\r\n  // Залишок після кредиту (сумарна економія за весь термін кредиту - виплати)\r\n  const totalPayments  = monthlyPaymentUAH * creditMonths;\r\n  const totalSavings   = monthlySavings * creditMonths;\r\n  remainderAfterCredit = Math.round(totalSavings - totalPayments);\r\n\r\n  // Окупність з кредитом — місяць, коли накопичена економія покриє суму виплат\r\n  let cumSavings = 0, cumPayments = 0;\r\n  let paybackWithCreditMonths = creditMonths;\r\n  for (let m = 1; m <= creditMonths + 12; m++) {\r\n    cumSavings  += monthlySavings;\r\n    cumPayments += m <= creditMonths ? monthlyPaymentUAH : 0;\r\n    if (m > creditMonths && cumSavings >= totalPayments) {\r\n      paybackWithCreditMonths = m;\r\n      break;\r\n    }\r\n  }\r\n  const pwcYears = Math.floor(paybackWithCreditMonths / 12);\r\n  const pwcMon   = paybackWithCreditMonths % 12;\r\n  paybackWithCreditStr = pwcMon > 0 ? `${pwcYears} р. ${pwcMon} міс.` : `${pwcYears} р.`;\r\n\r\n  const fmt = n => Math.round(n).toLocaleString('uk-UA');\r\n\r\n  creditVars = {\r\n    '{{credit_b17}}': `${fmt(totalUAH)} грн`,                  // Вартість СЕС\r\n    '{{credit_b18}}': `${fmt(monthlySavings)} грн/міс`,        // Щомісячна економія\r\n    '{{credit_b19}}': paybackStr,                               // Окупність без кредиту\r\n    '{{credit_b20}}': `${creditRate}%`,                         // Ставка\r\n    '{{credit_b21}}': `${fmt(monthlyPaymentUAH)} грн/міс`,     // Щомісячний платіж\r\n    '{{credit_b22}}': paybackWithCreditStr,                     // Окупність з кредитом\r\n    '{{credit_b23}}': `${creditMonths} міс.`,                   // Термін\r\n    '{{credit_b24}}': `${fmt(commissionUAH)} грн`,              // Комісія 1.5%\r\n    '{{credit_b25}}': `${fmt(totalWithComm)} грн`,              // Повна вартість з комісією\r\n    '{{credit_b26}}': `${fmt(totalPayments)} грн`,              // Загальна сума виплат\r\n    '{{credit_b27}}': remainderAfterCredit > 0\r\n      ? `+${fmt(remainderAfterCredit)} грн`\r\n      : `${fmt(remainderAfterCredit)} грн`,                     // Залишок після кредиту\r\n    '{{credit_b28}}': `${fmt(totalProfit25)} грн`,              // Прибуток за 25 р.\r\n    '{{credit_currency}}': currSign,\r\n    '{{credit_final}}': `${fmt(totalPayments)} грн`,\r\n  };\r\n}\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 11. ЗАМІНИ ДЛЯ ШАБЛОНУ GOOGLE DOCS\r\n// ────────────────────────────────────────────────────────────────\r\n\r\nconst today      = new Date().toLocaleDateString('uk-UA', { day: '2-digit', month: '2-digit', year: 'numeric' });\r\nconst powerStr   = `${dcKW.toFixed(0)} кВт`;\r\nconst powerLabel = `${dcKW.toFixed(0)} кВт DC`;\r\nconst managerName = p.manager || '';\r\n\r\nconst MANAGERS = {\r\n  'Петров Дмитро':        { phone: '+38 (063) 847-49-83', email: 'd.petrov@rayton.com.ua' },\r\n  'Тубіш Микола':         { phone: '+38 (067) 197-57-23', email: 'mt@rayton.com.ua' },\r\n  'Сидоров Максим':       { phone: '+38 (063) 847-49-76', email: 'ms@rayton.com.ua' },\r\n  'Достовалов Олександр': { phone: '+38 (063) 847-49-77', email: 'od@rayton.com.ua' },\r\n  'Стоцький Віталій':     { phone: '+38 (067) 349-79-33', email: 'vs@rayton.com.ua' },\r\n  'Павлов Дмитро':        { phone: '+38 (063) 847-49-76', email: 'dp@rayton.com.ua' },\r\n  'Лисенко Юрій':         { phone: '+38 (063) 847-49-82', email: 'yl@rayton.com.ua' },\r\n};\r\nconst mgr = MANAGERS[managerName] || { phone: '', email: '' };\r\n\r\nconst templateVars = {\r\n  '{{project_title}}':   `Проєкт: \"${p.project_name}\" ${powerStr}`,\r\n  '{{today_date}}':      today,\r\n  '{{currency}}':        currSign,\r\n  '{{power}}':           powerStr,\r\n  '{{manager_name}}':    managerName,\r\n  '{{manager_phone}}':   mgr.phone,\r\n  '{{manager_email}}':   mgr.email,\r\n  '{{link_site_1}}':     'rayton.com.ua',\r\n  '{{link_site_2}}':     'rayton.com.ua',\r\n  '{{link_youtube}}':    'RaytonSun',\r\n  '{{link_email}}':      'sales@rayton.com.ua',\r\n  '{{project}}':         p.project_name || '',\r\n  '{{project_address}}': '',\r\n  '{{gps_coords}}':      '',\r\n  '{{placement_type}}':  sesType,\r\n  '{{cost_build}}':      fmtNum(dcKW > 0 ? finalTotal / dcKW : 0),\r\n  '{{power1}}':          powerLabel,\r\n  '{{payback}}':         paybackStr,\r\n  '{{yearly_gen}}':      `${Math.round(yearlyKWhBase / 1000)} тис. кВт·год`,\r\n  '{{total_costG}}':     fmtNum(finalTotal),\r\n  '{{total_cost}}':      fmtNum(finalTotal),\r\n  '{{total_profit}}':    `${Math.round(totalProfit25 / 1000)} тис. грн`,\r\n  '{{tariff_now}}':      tariffNow ? `${tariffNow.toFixed(2)} грн/кВт·год` : '',\r\n  '{{tariff_fixed}}':    fixedTariff ? `${fixedTariff.toFixed(4)} грн/кВт·год` : '',\r\n  ...creditVars,\r\n  // Таблиця позицій\r\n  ...tableRows,\r\n};\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 12. ВИБІР ШАБЛОНУ\r\n// ────────────────────────────────────────────────────────────────\r\n\r\n// Google Doc template IDs — скопіюйте з оригінального скрипту\r\nconst TEMPLATE_NO_CREDIT_ID = '1Ytn9wssFM-Eg_Fy_CXoZ2CKfd-4uamP39tkhrhf5JMs';\r\nconst TEMPLATE_NO_CREDIT_NO_IMG_ID = '1LGbc5siAxP6zg4B87KpInSzHGDK0hYy8bbNDvrPNcp0';\r\n\r\nconst TEMPLATE_WITH_CREDIT_ID        = '15cW_pHFAmXfHgZ6w2Tv_NZYRDTQnE0eV4l6nnbdsfc4';\r\nconst TEMPLATE_WITH_CREDIT_NO_IMG_ID = '1bbW_s6qWlfrjKlmuhheiFCDRusPvbRZi7wz3E0B1DkA';\r\n\r\n// Чи є кастомне зображення від техвідділу\r\nconst hasCustomImage = !!(p.custom_image_base64);\r\n\r\n// Вибір шаблону: 2 змінні (кредит + фото) = 4 варіанти\r\nconst selectedTemplateId =\r\n  creditEnabled && hasCustomImage  ? TEMPLATE_WITH_CREDIT_ID :\r\n  creditEnabled && !hasCustomImage ? TEMPLATE_WITH_CREDIT_NO_IMG_ID :\r\n  !creditEnabled && hasCustomImage ? TEMPLATE_NO_CREDIT_ID :\r\n                                     TEMPLATE_NO_CREDIT_NO_IMG_ID;\r\n\r\n// Папка для збереження PDF\r\nconst DRIVE_PARENT_FOLDER_ID = '1QSNGUZ9e7CAyeZNMJ3EpEUuyXTaSfTky';\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 12. ВИХІД\r\n// ────────────────────────────────────────────────────────────────\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// DEBUG — видалити після діагностики\r\n// ────────────────────────────────────────────────────────────────\r\n// Пошук панелей у refData для діагностики\r\nconst _panelRow = refData.find(r => r.category.toLowerCase() === 'фотоелектричні модулі');\r\nconst _panelExact = findRow('Фотоелектричні модулі', p.module_type || '');\r\nconst _debug = {\r\n  refData_count:      refData.length,\r\n  panel_categories:   [...new Set(refData.map(r => r.category))].slice(0, 8),\r\n  panel_names_solar:  refData.filter(r => r.category.toLowerCase() === 'фотоелектричні модулі').map(r => r.name),\r\n  p_module_type:      p.module_type,\r\n  p_panel_qty:        panelQty,\r\n  panel_row_found:    !!_panelExact,\r\n  panel_row_sample:   _panelRow,\r\n  line_items_count:   lineItems.length,\r\n  sumSale_debug:      sumSale,\r\n  rateEUR,\r\n  rateUSD,\r\n};\r\n\r\nreturn [{\r\n  json: {\r\n    // ─── Ідентифікатори для наступних вузлів ───\r\n    templateDocId:     selectedTemplateId,\r\n    driveFolderId:     DRIVE_PARENT_FOLDER_ID,\r\n    chat_id:           p.chat_id,\r\n\r\n    // ─── Мета ───\r\n    project_name:      p.project_name,\r\n    manager:           p.manager,\r\n    region:            p.region,\r\n    power_label:       powerLabel,\r\n    currency:          currency,\r\n    currency_sign:     currSign,\r\n    vat_mode:          vatMode,\r\n    today:             today,\r\n\r\n    // ─── Фінансові підсумки ───\r\n    total_usd:         +(finalTotal / currencyRate).toFixed(2),\r\n    total_display:     fmtNum(finalTotal),\r\n    total_currency:    finalTotal,\r\n    tax_usd:           taxValue,\r\n    tax_display:       fmtNum(taxValueConverted),\r\n\r\n    // ─── Деталі розрахунку (для логів/дебагу) ───\r\n    dc_kw:             dcKW,\r\n    ac_kw:             acKW,\r\n    panel_qty:         panelQty,\r\n    panel_watt:        panelWatt,\r\n    sum_sale_usd:      +sumSale.toFixed(2),\r\n    sum_purchase_usd:  +sumPurchase.toFixed(2),\r\n    actual_price_per_kw: +(finalTotal / dcKW).toFixed(2),\r\n    target_price_per_kw: parseFlt(p.price_per_kw),\r\n    rate_usd:          rateUSD,\r\n    rate_eur:          rateEUR,\r\n\r\n    // ─── Економіка (для ses_charts.js і для шаблону) ───\r\n    tariff_now:        tariffNow,\r\n    yearly_kwh_base:   +yearlyKWhBase.toFixed(0),\r\n    monthly_savings_uah: +monthlySavings.toFixed(2),\r\n    payback_str:       paybackStr,\r\n    payback_years:     +paybackYears.toFixed(2),\r\n    fixed_tariff:      fixedTariff,\r\n    total_profit_25:   totalProfit25,\r\n    credit_enabled:    creditEnabled,\r\n    credit_rate:       creditRate,\r\n    credit_months:     creditMonths,\r\n    monthly_payment_uah: monthlyPaymentUAH,\r\n    payback_with_credit: paybackWithCreditStr,\r\n\r\n    // ─── Позиції для шаблону ───\r\n    line_items:        lineItemsConverted,\r\n\r\n    // ─── Заміни для Google Docs (replaceText) ───\r\n    template_vars:     templateVars,\r\n\r\n    // ─── Візуалізація СЕС ───\r\n    has_custom_image:    hasCustomImage,\r\n    custom_image_base64: p.custom_image_base64 || null,\r\n    custom_image_mime:   p.custom_image_mime   || 'image/jpeg',\r\n\r\n    // ─── Назва файлу ───\r\n    file_name: `КП_Рейтон_${p.project_name || 'Проект'}_${powerStr.replace(' ', '_')}_${today.replace(/\\./g, '-')}.pdf`,\r\n    doc_copy_name: `Пропозиція_${p.project_name || 'Проект'}_${powerStr}_${Date.now()}`,\r\n\r\n    // ─── DEBUG ───\r\n    _debug,\r\n  }\r\n}];\r\n"
      },
      "id": "n04",
      "name": "Code: Calculate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "/* ================================================================\r\n   n8n Code Node — Генерація графіків КП СЕС\r\n\r\n   Запускається ПІСЛЯ вузла \"Code: Calculate\"\r\n\r\n   ВХІД:\r\n     $('Code: Calculate').first().json  — результат розрахунку\r\n\r\n   ВИХІД:\r\n     year_chart_url  — URL QuickChart.io для річного графіка\r\n     day_chart_url   — URL QuickChart.io для денного графіка\r\n     yearly_gen_kwh  — річна генерація (кВт·год)\r\n     yearly_gen_mwh  — річна генерація (МВт·год, округлено)\r\n\r\n   QuickChart.io: https://quickchart.io/chart?c=<JSON>\r\n   Безкоштовний, повертає PNG 800×400.\r\n================================================================ */\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 1. МІСЯЧНІ КОЕФІЦІЄНТИ ГЕНЕРАЦІЇ (кВт·год на 1 кВт DC за місяць)\r\n//    Джерело: PVGis / SODA MERRA-2 дані для України\r\n//    Порядок: Січ, Лют, Бер, Квіт, Трав, Черв, Лип, Серп, Вер, Жовт, Лис, Груд\r\n// ────────────────────────────────────────────────────────────────\r\n\r\nconst MONTHLY_COEF = {\r\n  // Північ\r\n  'Чернігівська область':     [22, 33, 65, 98, 118, 120, 122, 113, 85, 50, 24, 17],\r\n  'Сумська область':          [23, 34, 66, 99, 119, 121, 123, 114, 86, 51, 25, 18],\r\n  'Житомирська область':      [24, 35, 67, 100, 120, 122, 124, 115, 87, 52, 25, 18],\r\n\r\n  // Захід\r\n  'Волинська область':        [24, 36, 67, 100, 119, 120, 122, 112, 85, 51, 25, 17],\r\n  'Рівненська область':       [24, 36, 68, 101, 120, 121, 123, 113, 86, 52, 25, 18],\r\n  'Львівська область':        [26, 38, 72, 106, 123, 124, 127, 118, 90, 56, 27, 19],\r\n  'Закарпатська область':     [30, 44, 80, 113, 130, 131, 135, 126, 98, 62, 31, 22],\r\n  'Івано-Франківська область':[27, 40, 74, 107, 124, 125, 128, 119, 91, 57, 28, 20],\r\n  'Тернопільська область':    [26, 38, 71, 105, 122, 123, 126, 117, 89, 55, 26, 18],\r\n  'Хмельницька область':      [26, 38, 71, 105, 122, 123, 126, 117, 89, 55, 26, 18],\r\n  'Вінницька область':        [27, 40, 74, 108, 126, 127, 130, 120, 92, 57, 27, 19],\r\n  'Чернівецька область':      [28, 42, 78, 112, 129, 130, 134, 125, 96, 60, 29, 21],\r\n\r\n  // Центр\r\n  'м. Київ':                  [25, 37, 71, 105, 124, 126, 128, 118, 89, 53, 25, 18],\r\n  'Київська область':         [25, 37, 70, 104, 123, 125, 127, 117, 88, 52, 25, 17],\r\n  'Черкаська область':        [28, 42, 78, 112, 131, 133, 135, 125, 95, 58, 27, 19],\r\n  'Полтавська область':       [29, 43, 79, 114, 133, 135, 137, 127, 97, 60, 28, 20],\r\n  'Кіровоградська область':   [31, 47, 85, 119, 138, 140, 143, 133, 103, 64, 30, 22],\r\n\r\n  // Схід\r\n  'Харківська область':       [28, 43, 80, 114, 133, 135, 138, 128, 97, 59, 27, 19],\r\n  'Дніпропетровська область': [32, 49, 87, 122, 141, 143, 146, 136, 105, 66, 31, 22],\r\n  'Донецька область':         [30, 46, 84, 118, 137, 139, 142, 132, 101, 63, 30, 21],\r\n  'Запорізька область':       [35, 53, 95, 131, 150, 152, 156, 145, 113, 72, 34, 25],\r\n  'Луганська область':        [29, 44, 81, 115, 134, 136, 139, 129, 98, 60, 28, 20],\r\n\r\n  // Південь\r\n  'Одеська область':          [38, 57, 100, 137, 156, 158, 163, 151, 118, 76, 37, 27],\r\n  'Миколаївська область':     [36, 55, 98, 134, 153, 155, 160, 148, 115, 73, 35, 26],\r\n  'Херсонська область':       [37, 56, 100, 136, 155, 157, 162, 150, 117, 75, 36, 26],\r\n\r\n  // Default (середня Україна якщо регіон не знайдено)\r\n  'default':                  [28, 42, 77, 111, 130, 132, 134, 124, 95, 59, 28, 19],\r\n};\r\n\r\nconst MONTHS_UK = ['Січ', 'Лют', 'Бер', 'Квіт', 'Трав', 'Черв', 'Лип', 'Серп', 'Вер', 'Жовт', 'Лис', 'Груд'];\r\n\r\n// Денні коефіцієнти (частки від добового максимуму) — типовий літній день\r\n// Кожна точка = година (0..23), відносна частка генерації 0..1\r\nconst DAILY_HOURLY_PROFILE = [\r\n  0, 0, 0, 0, 0, 0.03,    // 0-5 год\r\n  0.08, 0.18, 0.38, 0.58, 0.75, 0.88,  // 6-11 год\r\n  0.97, 1.00, 0.97, 0.88, 0.75, 0.58,  // 12-17 год\r\n  0.35, 0.15, 0.05, 0.01, 0, 0,         // 18-23 год\r\n];\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 2. ВХІДНІ ДАНІ\r\n// ────────────────────────────────────────────────────────────────\r\n\r\nconst calc = $('Code: Calculate').first().json;\r\n\r\nconst dcKW      = parseFloat(calc.dc_kw)  || 0;\r\nconst region    = calc.region || 'default';\r\nconst tariffNow = parseFloat(calc.tariff_now) || 0;\r\nconst creditEnabled = calc.credit_enabled || false;\r\nconst creditMonths  = parseInt(calc.credit_months) || 60;\r\nconst monthlyPaymentUAH = parseFloat(calc.monthly_payment_uah) || 0;\r\nconst monthlySavingsUAH = parseFloat(calc.monthly_savings_uah) || 0;\r\n\r\nconst coefs = MONTHLY_COEF[region] || MONTHLY_COEF['default'];\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 3. МІСЯЧНА ГЕНЕРАЦІЯ (кВт·год)\r\n// ────────────────────────────────────────────────────────────────\r\n\r\nconst monthlyKWh = coefs.map(c => Math.round(c * dcKW));\r\nconst yearlyKWh  = monthlyKWh.reduce((s, v) => s + v, 0);\r\nconst yearlyMWh  = Math.round(yearlyKWh / 100) / 10; // 1 знак після коми\r\n\r\n// Пік — найкращий місяць\r\nconst peakIdx  = monthlyKWh.indexOf(Math.max(...monthlyKWh));\r\nconst peakKWh  = monthlyKWh[peakIdx];\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 4. ДЕННА ГЕНЕРАЦІЯ (для пікового місяця)\r\n//    Беремо денну генерацію пікового місяця та розподіляємо по годинах\r\n// ────────────────────────────────────────────────────────────────\r\n\r\n// Середньодобова генерація для пікового місяця (кВт·год/день)\r\nconst daysInPeakMonth = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31][peakIdx];\r\nconst dailyAvgKWh     = peakKWh / daysInPeakMonth;\r\n\r\n// Профіль дня (кВт·год за годину)\r\nconst dailyHourlyKWh  = DAILY_HOURLY_PROFILE.map(factor => +(factor * dailyAvgKWh).toFixed(1));\r\n\r\n// Години для підписів (тільки денні)\r\nconst hourLabels = Array.from({ length: 24 }, (_, i) => `${i}:00`);\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 5. QUICKCHART.IO — РІЧНИЙ ГРАФІК\r\n// ────────────────────────────────────────────────────────────────\r\n\r\nconst yearChartConfig = {\r\n  type: 'bar',\r\n  data: {\r\n    labels: MONTHS_UK,\r\n    datasets: [{\r\n      label: 'Генерація, кВт·год',\r\n      data: monthlyKWh,\r\n      backgroundColor: monthlyKWh.map((_, i) =>\r\n        i === peakIdx ? '#FFC400' : '#4A90D9'\r\n      ),\r\n      borderRadius: 6,\r\n    }],\r\n  },\r\n  options: {\r\n    plugins: {\r\n      legend:  { display: false },\r\n      title:   {\r\n        display: true,\r\n        text:    `Річна генерація СЕС ${dcKW.toFixed(0)} кВт · ${region}`,\r\n        font:    { size: 14 },\r\n      },\r\n      datalabels: {\r\n        anchor: 'end',\r\n        align:  'top',\r\n        font:   { size: 10 },\r\n        formatter: (v) => v >= 1000 ? `${(v/1000).toFixed(1)}МВт` : `${v}`,\r\n      },\r\n    },\r\n    scales: {\r\n      y: {\r\n        beginAtZero: true,\r\n        title: { display: true, text: 'кВт·год' },\r\n        grid: { color: '#f0f0f0' },\r\n      },\r\n      x: { grid: { display: false } },\r\n    },\r\n  },\r\n};\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 6. QUICKCHART.IO — ДЕННИЙ ГРАФІК\r\n// ────────────────────────────────────────────────────────────────\r\n\r\nconst dayChartConfig = {\r\n  type: 'line',\r\n  data: {\r\n    labels: hourLabels,\r\n    datasets: [{\r\n      label: `Генерація (${MONTHS_UK[peakIdx]}, кВт·год/год)`,\r\n      data: dailyHourlyKWh,\r\n      borderColor: '#FFC400',\r\n      backgroundColor: 'rgba(255,196,0,0.15)',\r\n      borderWidth: 2.5,\r\n      pointRadius: 3,\r\n      fill: true,\r\n      tension: 0.4,\r\n    }],\r\n  },\r\n  options: {\r\n    plugins: {\r\n      legend: { display: false },\r\n      title: {\r\n        display: true,\r\n        text:    `Денна генерація (${MONTHS_UK[peakIdx]}, середній день) · СЕС ${dcKW.toFixed(0)} кВт`,\r\n        font:    { size: 14 },\r\n      },\r\n    },\r\n    scales: {\r\n      y: {\r\n        beginAtZero: true,\r\n        title: { display: true, text: 'кВт·год/год' },\r\n        grid:  { color: '#f0f0f0' },\r\n      },\r\n      x: {\r\n        grid: { display: false },\r\n        ticks: { maxTicksLimit: 12 },\r\n      },\r\n    },\r\n  },\r\n};\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 7. ФОРМУВАННЯ URL QUICKCHART\r\n// ────────────────────────────────────────────────────────────────\r\n\r\nfunction toChartUrl(config, width = 800, height = 380) {\r\n  const json = encodeURIComponent(JSON.stringify(config));\r\n  return `https://quickchart.io/chart?w=${width}&h=${height}&bkg=white&c=${json}`;\r\n}\r\n\r\nconst yearChartUrl = toChartUrl(yearChartConfig);\r\nconst dayChartUrl  = toChartUrl(dayChartConfig);\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 8. ЕКОНОМІКА (беремо з ses_calculate, доповнюємо точною генерацією)\r\n// ────────────────────────────────────────────────────────────────\r\n\r\n// Точна річна економія на основі регіональних даних\r\nconst selfConsumptionRatio = 0.80;\r\nconst yearlyEconomyUAH     = tariffNow > 0\r\n  ? Math.round(yearlyKWh * selfConsumptionRatio * tariffNow)\r\n  : Math.round(calc.monthly_savings_uah * 12) || 0;\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 9. ВИХІД\r\n// ────────────────────────────────────────────────────────────────\r\n\r\nreturn [{\r\n  json: {\r\n    // Передаємо все з попереднього вузла\r\n    ...calc,\r\n\r\n    // Графіки\r\n    year_chart_url: yearChartUrl,\r\n    day_chart_url:  dayChartUrl,\r\n\r\n    // Генерація\r\n    monthly_kwh:    monthlyKWh,\r\n    yearly_kwh:     yearlyKWh,\r\n    yearly_mwh:     yearlyMWh,\r\n    peak_month:     MONTHS_UK[peakIdx],\r\n\r\n    // Економіка (уточнена з регіональними даними)\r\n    yearly_kwh:     yearlyKWh,\r\n    yearly_mwh:     yearlyMWh,\r\n    yearly_economy: yearlyEconomyUAH,\r\n    peak_month:     MONTHS_UK[peakIdx],\r\n\r\n    // Перерахунок окупності з регіональними даними\r\n    // (точніше ніж fallback 1100 год/рік у ses_calculate)\r\n    ...(() => {\r\n      const totalUAH = (parseFloat(calc.total_usd) || 0) * (parseFloat(calc.rate_usd) || 41.2);\r\n      let paybackStr = '—';\r\n      if (yearlyEconomyUAH > 0 && totalUAH > 0) {\r\n        const py    = totalUAH / yearlyEconomyUAH;\r\n        const pyInt = Math.floor(py);\r\n        const pyMon = Math.round((py - pyInt) * 12);\r\n        paybackStr  = pyMon > 0 ? `${pyInt} р. ${pyMon} міс.` : `${pyInt} р.`;\r\n      }\r\n      return {\r\n        payback_str_regional: paybackStr,\r\n        template_vars: {\r\n          ...calc.template_vars,\r\n          '{{yearly_gen}}':   `${yearlyMWh} МВт·год`,\r\n          '{{payback}}':      paybackStr,\r\n          '{{tariff_now}}':   tariffNow ? `${tariffNow.toFixed(2)} грн/кВт·год` : calc.template_vars?.['{{tariff_now}}'] || '',\r\n          '{{total_profit}}': `${Math.round(yearlyEconomyUAH / 1000)} тис. грн/рік`,\r\n        },\r\n      };\r\n    })(),\r\n  }\r\n}];\r\n"
      },
      "id": "n05",
      "name": "Code: Charts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.has_custom_image }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "name": "filter.operator.true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "n06",
      "name": "IF: Є зображення",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "/* ================================================================\r\n   n8n Code Node — Завантаження кастомного зображення в Google Drive\r\n\r\n   Запускається після \"Code: Charts\" лише якщо є custom_image_base64.\r\n   В n8n: використовуй IF вузол перед цим кодом:\r\n     IF {{ $json.has_custom_image }} === true → цей вузол\r\n     ELSE → одразу до \"Drive: Copy Template\"\r\n\r\n   ВХІД:  $('Code: Charts').first().json\r\n   ВИХІД: всі поля + custom_image_drive_id, custom_image_drive_url\r\n\r\n   Після цього вузла — вузол \"Drive: Upload Image\" або\r\n   використовуємо HTTP Request до Drive API напряму.\r\n================================================================ */\r\n\r\nconst data = $('Code: Charts').first().json;\r\n\r\n// Якщо немає зображення — просто пропускаємо (не повинно сюди потрапити через IF)\r\nif (!data.has_custom_image || !data.custom_image_base64) {\r\n  return [{ json: { ...data, custom_image_drive_id: null, custom_image_drive_url: null } }];\r\n}\r\n\r\n// Декодуємо base64 → бінарний буфер\r\nconst base64 = data.custom_image_base64;\r\nconst mime   = data.custom_image_mime || 'image/jpeg';\r\nconst ext    = mime.split('/')[1] || 'jpg';\r\nconst fileName = `viz_${data.project_name || 'ses'}_${Date.now()}.${ext}`;\r\n\r\n// Конвертуємо base64 у Buffer для n8n бінарного виводу\r\nconst buffer = Buffer.from(base64, 'base64');\r\n\r\n// Повертаємо як бінарні дані — наступний вузол \"Drive: Upload\" їх завантажить\r\nreturn [{\r\n  json: {\r\n    ...data,\r\n    image_file_name: fileName,\r\n    image_mime:      mime,\r\n  },\r\n  binary: {\r\n    customImage: {\r\n      data:     base64,\r\n      mimeType: mime,\r\n      fileName: fileName,\r\n    }\r\n  }\r\n}];\r\n\r\n/* ================================================================\r\n   ПІСЛЯ ЦЬОГО ВУЗЛА в n8n:\r\n\r\n   [Drive: Upload Image]\r\n   - Operation: Upload\r\n   - Parent Folder: {{ $json.driveFolderId }}  (або окрема папка)\r\n   - File Name: {{ $json.image_file_name }}\r\n   - Binary Property: customImage\r\n   → Отримуємо: id, webViewLink, webContentLink\r\n\r\n   Потім зберігаємо Drive ID і передаємо далі для вставки в Docs.\r\n\r\n   [Code: Merge Image URL]\r\n   const prevData = $('Code: Charts').first().json;  // або передати через попередні\r\n   const driveFile = $('Drive: Upload Image').first().json;\r\n   return [{\r\n     json: {\r\n       ...prevData,\r\n       custom_image_drive_id:  driveFile.id,\r\n       // Drive URL для публічного доступу (файл має бути shared: anyone with link):\r\n       custom_image_drive_url: `https://drive.google.com/uc?export=view&id=${driveFile.id}`,\r\n     }\r\n   }];\r\n\r\n   [HTTP: Share Image Publicly]  (зробити файл публічним)\r\n   - Method: POST\r\n   - URL: https://www.googleapis.com/drive/v3/files/{{ $json.custom_image_drive_id }}/permissions\r\n   - Auth: Google OAuth2\r\n   - Body: { \"role\": \"reader\", \"type\": \"anyone\" }\r\n\r\n   Після цього — вставляємо зображення в Doc через insertInlineImage.\r\n================================================================ */\r\n"
      },
      "id": "n07",
      "name": "Code: Підготовка зображення",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        160
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "={{ $json.image_file_name }}",
        "driveId": {
          "__rl": true,
          "value": "MyDrive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Code: Calculate').first().json.driveFolderId }}",
          "mode": "id"
        },
        "binaryPropertyName": "customImage",
        "options": {}
      },
      "id": "n08",
      "name": "Drive: Upload Custom Image",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1680,
        160
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CRED2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.id }}/permissions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "{\"role\":\"reader\",\"type\":\"anyone\"}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n09",
      "name": "HTTP: Відкрити доступ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        160
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CRED2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Об'єднання гілок: з custom image або без\nconst calc = $('Code: Charts').first().json;\n\nlet customImageDriveId  = null;\nlet customImageDriveUrl = null;\n\ntry {\n  const imageItems = $('Drive: Upload Custom Image').all();\n  if (imageItems.length > 0) {\n    customImageDriveId  = imageItems[0].json.id;\n    customImageDriveUrl = `https://drive.google.com/uc?export=view&id=${customImageDriveId}`;\n  }\n} catch (e) {\n  // Вузол не виконувався (гілка без зображення) — залишаємо null\n}\n\nreturn [{\n  json: {\n    ...calc,\n    custom_image_drive_id:  customImageDriveId,\n    custom_image_drive_url: customImageDriveUrl,\n  }\n}];"
      },
      "id": "n10",
      "name": "Code: Після гілки зображення",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        300
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.templateDocId }}",
          "mode": "id"
        },
        "name": "={{ $json.doc_copy_name }}",
        "driveId": {
          "__rl": true,
          "value": "MyDrive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.driveFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "n11",
      "name": "Drive: Копіювати шаблон",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2400,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CRED2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://docs.googleapis.com/v1/documents/' + $('Drive: Копіювати шаблон').first().json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "options": {}
      },
      "id": "n11a",
      "name": "HTTP: Отримати Doc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        300
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CRED3",
          "name": "Google OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Google Docs з вкладками: контент у tabs[0].documentTab.body.content\n// Або у body.content для старих документів\nconst tab0Content = $json.tabs?.[0]?.documentTab?.body?.content || [];\nconst bodyContent = $json.body?.content || [];\nconst content = tab0Content.length > 0 ? tab0Content : bodyContent;\n\nlet startIndex = null;\nlet endIndex   = null;\n\nfor (let i = 0; i < content.length; i++) {\n  const el = content[i];\n  if (!el.paragraph || !el.paragraph.elements) continue;\n  const text = el.paragraph.elements\n    .map(e => (e.textRun?.content || '').trim().toLowerCase())\n    .join('');\n  if (text === 'вкладка 1') {\n    startIndex = el.startIndex;\n  } else if (startIndex !== null && text !== '') {\n    endIndex = el.startIndex;\n    break;\n  }\n}\n\nconst calc  = $('Code: Після гілки зображення').first().json;\nconst docId = $('Drive: Копіювати шаблон').first().json.id;\n\nconst deleteRequests = (startIndex !== null && endIndex !== null)\n  ? [{ deleteContentRange: { range: { startIndex, endIndex: endIndex - 1 } } }]\n  : [];\n\nreturn [{ json: { docId, deleteRequests, ...calc } }];"
      },
      "id": "n11b",
      "name": "Code: Видалити Вкладку 1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://docs.googleapis.com/v1/documents/' + $json.docId + ':batchUpdate' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { requests: $json.deleteRequests } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n11c",
      "name": "HTTP: Видалити Вкладку 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        300
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CRED3",
          "name": "Google OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const calc  = $('Code: Після гілки зображення').first().json;\nconst docId = $('Drive: Копіювати шаблон').first().json.id;\nconst vars  = calc.template_vars;\n\nconst requests = Object.entries(vars).map(([tag, value]) => ({\n  replaceAllText: {\n    containsText: { text: tag, matchCase: true },\n    replaceText:  String(value ?? ''),\n  }\n}));\n\nreturn [{\n  json: {\n    docId,\n    requests,\n    chat_id:       calc.chat_id,\n    file_name:     calc.file_name,\n    project_name:  calc.project_name,\n    power_label:   calc.power_label,\n    total_display: calc.total_display,\n    currency_sign: calc.currency_sign,\n    driveFolderId: calc.driveFolderId,\n  }\n}];"
      },
      "id": "n12",
      "name": "Code: Підготовка Docs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.docId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { requests: $json.requests } }}",
        "options": {}
      },
      "id": "n13",
      "name": "HTTP: Docs batchUpdate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3600,
        300
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CRED3",
          "name": "Google OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://docs.googleapis.com/v1/documents/' + $('Code: Підготовка Docs').first().json.docId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "options": {}
      },
      "id": "n13a",
      "name": "HTTP: Отримати Doc після замін",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3840,
        300
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CRED3",
          "name": "Google OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Після replaceAllText порожні рядки таблиці містять лише пусті рядки.\n// Видаляємо їх знизу вверх, щоб уникнути зміщення індексів.\nconst docData = $json;\nconst calc    = $('Code: Підготовка Docs').first().json;\nconst docId   = calc.docId;\n\nconst content = docData.tabs?.[0]?.documentTab?.body?.content || docData.body?.content || [];\n\nconst requests = [];\n\nfor (const el of content) {\n  if (!el.table) continue;\n\n  // Обробляємо лише таблицю специфікації — ту що містить \"ОБЛАДНАННЯ ТА МАТЕРІАЛИ\"\n  // (в документі є декілька таблиць з пустими рядками — структурні, видаляти не треба)\n  const isCostTable = el.table.tableRows.some(row => {\n    const firstCell = (row.tableCells[0]?.content || [])\n      .flatMap(p => (p.paragraph?.elements || []))\n      .map(e => e.textRun?.content || '')\n      .join('')\n      .trim();\n    return firstCell.includes('ОБЛАДНАННЯ');\n  });\n  if (!isCostTable) continue;\n\n  const tableStartIndex = el.startIndex;\n  const emptyRowIndices = [];\n\n  el.table.tableRows.forEach((row, rowIndex) => {\n    const allEmpty = row.tableCells.every(cell => {\n      const cellText = (cell.content || [])\n        .flatMap(p => (p.paragraph?.elements || []))\n        .map(e => e.textRun?.content || '')\n        .join('')\n        .trim();\n      return cellText === '';\n    });\n    if (allEmpty) emptyRowIndices.push(rowIndex);\n  });\n\n  // Видаляємо з кінця, щоб не зміщувати індекси попередніх рядків\n  for (let i = emptyRowIndices.length - 1; i >= 0; i--) {\n    requests.push({\n      deleteTableRow: {\n        tableCellLocation: {\n          tableStartLocation: { index: tableStartIndex },\n          rowIndex: emptyRowIndices[i],\n          columnIndex: 0,\n        },\n      },\n    });\n  }\n}\n\n// DEBUG — видалити після перевірки\nconst _tables = content.filter(el => el.table);\nconst _debugRows = _tables.map((el, ti) => ({\n  tableIndex: ti,\n  tableStartIndex: el.startIndex,\n  rowCount: el.table.tableRows.length,\n  rows: el.table.tableRows.map((row, ri) => ({\n    rowIndex: ri,\n    cells: row.tableCells.map(cell =>\n      (cell.content || [])\n        .flatMap(p => (p.paragraph?.elements || []))\n        .map(e => e.textRun?.content || '')\n        .join('')\n        .trim()\n    ),\n  })),\n}));\n\nreturn [{ json: { docId, ...calc, requests, _debug_empty_rows: { tables_count: _tables.length, requests_count: requests.length, tables: _debugRows } } }];"
      },
      "id": "n13b",
      "name": "Code: Знайти порожні рядки",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://docs.googleapis.com/v1/documents/' + $json.docId + ':batchUpdate' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { requests: $json.requests } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n13c",
      "name": "HTTP: Видалити порожні рядки",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        300
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CRED3",
          "name": "Google OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://docs.google.com/document/d/' + $('Code: Підготовка Docs').first().json.docId + '/export?format=pdf&tab=t.0' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "n14",
      "name": "HTTP: Експорт PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4560,
        300
      ],
      "credentials": {
        "googleOAuth2Api": {
          "id": "CRED3",
          "name": "Google OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "={{ $('Code: Підготовка Docs').first().json.file_name }}",
        "driveId": {
          "__rl": true,
          "value": "MyDrive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Code: Підготовка Docs').first().json.driveFolderId }}",
          "mode": "id"
        },
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "n15",
      "name": "Drive: Зберегти PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4800,
        460
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CRED2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendDocument",
        "chatId": "={{ $('Code: Calculate').first().json.chat_id }}",
        "binaryData": true,
        "binaryPropertyName": "data",
        "additionalFields": {
          "caption": "=КП для {{ $('Code: Calculate').first().json.project_name }} ({{ $('Code: Calculate').first().json.power_label }}) — готово! ✅"
        }
      },
      "id": "n16",
      "name": "Telegram: Надіслати PDF",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4800,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "CRED4",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "SheetsData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SheetsData": {
      "main": [
        [
          {
            "node": "Code: Calculate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Calculate": {
      "main": [
        [
          {
            "node": "Code: Charts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Charts": {
      "main": [
        [
          {
            "node": "IF: Є зображення",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Є зображення": {
      "main": [
        [
          {
            "node": "Code: Підготовка зображення",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Після гілки зображення",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Підготовка зображення": {
      "main": [
        [
          {
            "node": "Drive: Upload Custom Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive: Upload Custom Image": {
      "main": [
        [
          {
            "node": "HTTP: Відкрити доступ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Відкрити доступ": {
      "main": [
        [
          {
            "node": "Code: Після гілки зображення",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Після гілки зображення": {
      "main": [
        [
          {
            "node": "Drive: Копіювати шаблон",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive: Копіювати шаблон": {
      "main": [
        [
          {
            "node": "HTTP: Отримати Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Отримати Doc": {
      "main": [
        [
          {
            "node": "Code: Видалити Вкладку 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Видалити Вкладку 1": {
      "main": [
        [
          {
            "node": "HTTP: Видалити Вкладку 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Видалити Вкладку 1": {
      "main": [
        [
          {
            "node": "Code: Підготовка Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Підготовка Docs": {
      "main": [
        [
          {
            "node": "HTTP: Docs batchUpdate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Docs batchUpdate": {
      "main": [
        [
          {
            "node": "HTTP: Отримати Doc після замін",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Отримати Doc після замін": {
      "main": [
        [
          {
            "node": "Code: Знайти порожні рядки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Знайти порожні рядки": {
      "main": [
        [
          {
            "node": "HTTP: Видалити порожні рядки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Видалити порожні рядки": {
      "main": [
        [
          {
            "node": "HTTP: Експорт PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Експорт PDF": {
      "main": [
        [
          {
            "node": "Telegram: Надіслати PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Drive: Зберегти PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ses-kp-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "id": "ses-kp-workflow-001",
  "pinData": {}
}